In [32]:
import pandas as pd

import warnings
warnings.filterwarnings("ignore")

In [34]:
df = pd.read_csv('No2 dataset.csv')
df.head()

             Date_Time  NO2(GT)
0  10/03/2004 18.00.00      166
1  10/03/2004 19.00.00     1174
2  10/03/2004 20.00.00      131
3  10/03/2004 21.00.00      172
4  10/03/2004 22.00.00      131

In [35]:
df['Date_Time'].max(), df['Date_Time'].min()

('31/08/2004 23.00.00', '01/04/2004 00.00.00')

In [36]:
df.dtypes

Date_Time    object
NO2(GT)       int64
dtype: object

In [37]:
# Convert to datetime

In [38]:
df['Date_Time'] = pd.to_datetime(df['Date_Time'], format= '%d/%m/%Y %H.%M.%S')
df.dtypes

Date_Time    datetime64[ns]
NO2(GT)               int64
dtype: object

In [39]:
# The format depends on your data. Here are a few examples

    #1/12/2001: %d/%m/%Y
    #2001/12/1: %Y/%m/%d
    #2001-12-01: %Y-%m-%d
    #2001-12-01 09:00: %Y-%m-%d %H:%M

In [40]:
df['Date_Time'].max(), df['Date_Time'].min()

(Timestamp('2004-09-24 02:00:00'), Timestamp('2004-03-10 18:00:00'))

In [41]:
# Extract hour and minute

In [42]:
df['Date_Time'].dt.hour.head()

0    18
1    19
2    20
3    21
4    22
Name: Date_Time, dtype: int64

In [43]:
df['Date_Time'].dt.minute.head()

0    0
1    0
2    0
3    0
4    0
Name: Date_Time, dtype: int64

In [44]:
# The day of week - Monday (0) to Sunday (6)

In [45]:
df['Date_Time'].dt.dayofweek.head(7)

0    2
1    2
2    2
3    2
4    2
5    2
6    3
Name: Date_Time, dtype: int64

In [57]:
df['Date_Time'].dt.weekday_name.head(7)

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [49]:
# Extracting the month from the date

In [50]:
df['Date_Time'].dt.month.head(7)

0    3
1    3
2    3
3    3
4    3
5    3
6    3
Name: Date_Time, dtype: int64

In [51]:
df['Date_Time'].dt.is_month_end.head(7)

0    False
1    False
2    False
3    False
4    False
5    False
6    False
Name: Date_Time, dtype: bool

In [52]:
# Put it all together

In [54]:
new_df = pd.DataFrame({"year": df['Date_Time'].dt.year,
              "month": df['Date_Time'].dt.month,
              "day": df['Date_Time'].dt.day,
              "hour": df['Date_Time'].dt.hour,
              "dayofyear": df['Date_Time'].dt.dayofyear,
              "week": df['Date_Time'].dt.week,
              "dayofweek": df['Date_Time'].dt.dayofweek,
              "quarter": df['Date_Time'].dt.quarter,
             })
new_df.head()

   year  month  day  hour  dayofyear  week  dayofweek  quarter
0  2004      3   10    18         70    11          2        1
1  2004      3   10    19         70    11          2        1
2  2004      3   10    20         70    11          2        1
3  2004      3   10    21         70    11          2        1
4  2004      3   10    22         70    11          2        1

In [55]:
complete_data = pd.concat([df, new_df], axis=1)
complete_data.head()

,Date_Time,NO2(GT),year,month,day,hour,dayofyear,week,dayofweek,quarter
0,2004-03-10 18:00:00,166,2004,3,10,18,70,11,2,1
1,2004-03-10 19:00:00,1174,2004,3,10,19,70,11,2,1
2,2004-03-10 20:00:00,131,2004,3,10,20,70,11,2,1
3,2004-03-10 21:00:00,172,2004,3,10,21,70,11,2,1
4,2004-03-10 22:00:00,131,2004,3,10,22,70,11,2,1

In [58]:
# is_weekday? (Create using the dayofweek numbers)

In [59]:
complete_data['is_weekday']=0 

for i in range(0, len(complete_data)):
    if ((complete_data['dayofweek'][i] == 5) | (complete_data['dayofweek'][i] == 6)):
        complete_data['is_weekday'][i] = 0
    else: 
        complete_data['is_weekday'][i] = 1

In [60]:
complete_data[['dayofweek', 'is_weekday']].head()

   dayofweek  is_weekday
0          2           1
1          2           1
2          2           1
3          2           1
4          2           1

In [61]:
# Difference Between Dates

In [63]:
agent = pd.read_csv('agent_classification.csv')
agent.head()

,ID,Office_PIN,Application_Receipt_Date,Applicant_City_PIN,Applicant_Gender,Applicant_BirthDate,Applicant_Marital_Status,Applicant_Occupation,Applicant_Qualification,Manager_DOJ,...,Manager_Status,Manager_Gender,Manager_DoB,Manager_Num_Application,Manager_Num_Coded,Manager_Business,Manager_Num_Products,Manager_Business2,Manager_Num_Products2,Business_Sourced
0,FIN1000001,842001,4/16/2007,844120.0,M,12/19/1971,M,Others,Graduate,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,0
1,FIN1000002,842001,4/16/2007,844111.0,M,2/17/1983,S,Others,Class XII,11/10/2005,...,Confirmation,M,2/17/1978,2.0,1.0,335249.0,28.0,335249.0,28.0,1
2,FIN1000003,800001,4/16/2007,844101.0,M,1/16/1966,M,Business,Class XII,5/27/2006,...,Confirmation,M,3/3/1969,0.0,0.0,357184.0,24.0,357184.0,24.0,0
3,FIN1000004,814112,4/16/2007,814112.0,M,2/3/1988,S,Salaried,Class XII,8/21/2003,...,Confirmation,F,8/14/1978,0.0,0.0,318356.0,22.0,318356.0,22.0,0
4,FIN1000005,814112,4/16/2007,815351.0,M,7/4/1985,M,Others,Class XII,5/8/2006,...,Confirmation,M,2/7/1971,2.0,1.0,230402.0,17.0,230402.0,17.0,0

In [64]:
agent[['Application_Receipt_Date','Applicant_BirthDate']].head()

  Application_Receipt_Date Applicant_BirthDate
0                4/16/2007          12/19/1971
1                4/16/2007           2/17/1983
2                4/16/2007           1/16/1966
3                4/16/2007            2/3/1988
4                4/16/2007            7/4/1985

In [65]:
agent['Application_Receipt_Date'] = pd.to_datetime(agent['Application_Receipt_Date'], format='%m/%d/%Y')
agent['Applicant_BirthDate'] = pd.to_datetime(agent['Applicant_BirthDate'], format='%m/%d/%Y')

In [66]:
(agent['Application_Receipt_Date'][0] - agent['Applicant_BirthDate'][0]).days

12902

In [67]:
agent['Applicant_age'] = agent.apply(lambda x: (x['Application_Receipt_Date'] - x['Applicant_BirthDate']).days, axis=1)