In [ ]:
print('Hello World')

In [ ]:
Arthemetic Operators

In [ ]:
#Addition

3 + 2

In [ ]:
#Subtration

40 - 10

In [ ]:
#Multiplication

3 * 2

In [ ]:
#Division

10 / 2

In [ ]:
"suraj"+20

In [ ]:
"suraj"+"20"

In [ ]:
"suraj" * 2

In [ ]:
# Comparision Operators

In [ ]:
# Greater than

45 > 34

In [ ]:
# Less than

30 < 20

In [ ]:
33* 55 < 33 * 55

In [ ]:
33 == 33

In [ ]:
# Logical Operators

In [ ]:
# and operator

0 and 3

In [ ]:
3 and 0

In [ ]:
3 and 5

In [ ]:
# or operators

0 or 3

In [ ]:
3 or 0

In [ ]:
3 or 5

In [ ]:
"suraj" + "suraj"

In [ ]:
# Variable Assinment

In [ ]:
a = 5

print(a)

In [ ]:
A = 10

print(a)
print(A)

In [ ]:
# How variables work in python

In [ ]:
a = 7
b = a
a = 3

print(a)

In [ ]:
print(b)

In [ ]:
# Data Types

In [ ]:
a = 5

type(a)

In [ ]:
b = "suraj"

type(b)

In [ ]:
# Condition Statement Implementation

In [ ]:
# Problem 1: Take a variable x and print "Even" if the number is divisible by 2, otherwise print "odd"

In [ ]:
x = 4

if(x%2==0):
    print("Even")
else:
    print("Odd")

In [ ]:
# Problem 2: Take a variable Y and print "Grade A"  if Y is greater then 90, "Grade B" if Y is greater thyan 60 but less than or equal to 90 and "Grade F" otherwise.

In [ ]:
y = 74

if(y > 90):
    print("Grade A")
elif(y> 60 & y<= 90):
    print("Grade B")
else:
    print("Grade F")

In [ ]:
# Looping Constructs

In [ ]:
# Write a for loop to prints all the numbers between 10 to 50.

In [ ]:
for i in range(11,50):
    print(i)

In [ ]:
# Write a for loop to print all the add numbers between 10 to 50.

In [ ]:
for i in range(1,100,2):
    print(i)

In [ ]:
# Function

In [ ]:
# Problem: Create a function that takes two numbers as argunment and returns the greater of two numbers.

In [ ]:
def compare(a,b):
    if(a>b):
        greater=a
    else:
        greater=b
    return greater

compare(10,50)

In [ ]:
compare(14, 5)

In [ ]:
def odd(a):
    if a%2==0:
        print("not odd"), br>
    else:
        print("odd")

In [ ]:
def min(a,b):

    if(a>b):

        return b

    elif(a==b):

        return "the numbers are equal"

    else:

        return a

min(200,400)

In [ ]:
# Creating a List

In [ ]:
marks=[1,2,3,4,5,6,7,8,9,10]    

marks

In [ ]:
marks[5]

In [ ]:
marks[0:5]

In [ ]:
# Adding an elemeent to list

marks.append(4)

In [ ]:
marks

In [ ]:
# Adding Multiple marks to the list

marks.extend([5,6])

In [ ]:
marks

In [ ]:
marks.append([14,15])

In [ ]:
marks

In [ ]:
# Deleting Element fromm list

marks

In [ ]:
del marks[0]

In [ ]:
marks

In [ ]:
# accessing list element

for mark in marks:
    print(mark)

In [ ]:
# Creating dictionary

marks={'englis':45,'Math':60,'science':50}

In [ ]:
marks

In [ ]:
# access element

marks['englis']

In [ ]:
# Adding elements

marks['hindi']=44

In [ ]:
marks

In [ ]:
marks.update({'chemistry':99,'physic':80})

In [ ]:
marks

In [ ]:
del marks['hindi']

In [ ]:
marks

In [ ]:
# importing pandas library

import pandas as pd

In [ ]:
excel_file = "CSE4thSem_MultimediaFile.xlsx"
df=pd.read_excel(excel_file)

In [ ]:
df.head()

In [ ]:
df=pd.read_csv("abc.csv")

In [ ]:
df.head()

In [9]:
# Dataframe and Basic opaarations

import pandas as pd

In [10]:
df=pd.read_csv("data_python.csv")

In [11]:
# Seeing the dimensions of df dataframes

df.Loan_ID

0      LP001002
1      LP001003
2      LP001005
3      LP001006
4      LP001008
         ...
609    LP002978
610    LP002979
611    LP002983
612    LP002984
613    LP002990
Name: Loan_ID, Length: 614, dtype: object

In [12]:
# Seeing columns in dataframes

df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [14]:
df['Loan_Status']

0      Y
1      N
2      Y
3      Y
4      Y
      ..
609    Y
610    Y
611    Y
612    Y
613    N
Name: Loan_Status, Length: 614, dtype: object