In [1]:
# Random Forest

In [2]:
# Importing Libraries

In [3]:
#Importing required libraries
import pandas as pd 
import numpy as np

In [4]:
#reading the data
data=pd.read_csv('data_cleaned.csv')

In [5]:
data.shape

(891, 25)

In [6]:
data.head()

,Survived,Age,Fare,Pclass_1,Pclass_2,Pclass_3,Sex_female,Sex_male,SibSp_0,SibSp_1,...,Parch_0,Parch_1,Parch_2,Parch_3,Parch_4,Parch_5,Parch_6,Embarked_C,Embarked_Q,Embarked_S
0,0,22.0,7.2500,0,0,1,0,1,0,1,...,1,0,0,0,0,0,0,0,0,1
1,1,38.0,71.2833,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,1,0,0
2,1,26.0,7.9250,0,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,35.0,53.1000,1,0,0,1,0,0,1,...,1,0,0,0,0,0,0,0,0,1
4,0,35.0,8.0500,0,0,1,0,1,1,0,...,1,0,0,0,0,0,0,0,0,1

In [7]:
# Separating independent and dependent variables.

In [8]:
#independent variables
x = data.drop(['Survived'], axis=1)

#dependent variable
y = data['Survived']

In [9]:
# Creating the train and test dataset

In [10]:
#import the train-test split
from sklearn.model_selection import train_test_split

In [11]:
#divide into train and test sets
train_x,test_x,train_y,test_y = train_test_split(x,y, random_state = 101, stratify=y)

In [21]:
train_y.value_counts()/len(train_y)

0    0.616766
1    0.383234
Name: Survived, dtype: float64

In [22]:
test_y.value_counts()/len(test_y)

0    0.61435
1    0.38565
Name: Survived, dtype: float64

In [23]:
# Building a Decision Tree Model

In [24]:
#Importing Decision Tree Classifier 
from sklearn.tree import DecisionTreeClassifier

In [25]:
#creating a decision tree instance
clf = DecisionTreeClassifier(random_state=96)

In [26]:
#training the model
clf.fit(train_x,train_y)

DecisionTreeClassifier(random_state=96)

In [27]:
#calculating score on training data
clf.score(train_x, train_y)

0.9880239520958084

In [28]:
#calculating score on test data
clf.score(test_x, test_y)

0.757847533632287

In [29]:
# Building a Random Forest Model

In [30]:
#Importing random forest classifier 
from sklearn.ensemble import RandomForestClassifier

In [36]:
#creating a random forest instance
clf = RandomForestClassifier(random_state=96, n_estimators=100, max_depth=12)

In [37]:
#train the model
clf.fit(train_x,train_y)

RandomForestClassifier(max_depth=12, random_state=96)

In [38]:
#score on training data
clf.score(train_x, train_y)

0.9655688622754491

In [39]:
#score on test data
clf.score(test_x, test_y)

0.7757847533632287

In [40]:
#looking at the feature importance
clf.feature_importances_

array([0.20271041, 0.21402044, 0.03283403, 0.02018731, 0.05194544,
       0.14541529, 0.18978544, 0.0145444 , 0.01743961, 0.00657731,
       0.00412565, 0.00418363, 0.00084688, 0.00460363, 0.01871689,
       0.01276241, 0.0118023 , 0.00138896, 0.00205984, 0.00329984,
       0.00050221, 0.01220362, 0.01101184, 0.01703261])

In [41]:
#feature importance against each variable
pd.Series(clf.feature_importances_, index=train_x.columns)

Age           0.202710
Fare          0.214020
Pclass_1      0.032834
Pclass_2      0.020187
Pclass_3      0.051945
Sex_female    0.145415
Sex_male      0.189785
SibSp_0       0.014544
SibSp_1       0.017440
SibSp_2       0.006577
SibSp_3       0.004126
SibSp_4       0.004184
SibSp_5       0.000847
SibSp_8       0.004604
Parch_0       0.018717
Parch_1       0.012762
Parch_2       0.011802
Parch_3       0.001389
Parch_4       0.002060
Parch_5       0.003300
Parch_6       0.000502
Embarked_C    0.012204
Embarked_Q    0.011012
Embarked_S    0.017033
dtype: float64